<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!-- .topmenu>.leftbar>a.lbot#lbot$*3+.rightbar>a.rbot#rbot$*3 -->
    <div class="topmenu">
        <div class="leftbar">
            <a href="" class="lbot" id="lbot1"></a>
            <a href="" class="lbot" id="lbot2"></a>
            <a href="" class="lbot" id="lbot3"></a>
            <div class="rightbar">
                <a href="" class="rbot" id="rbot1"></a>
                <a href="" class="rbot" id="rbot2"></a>
                <a href="" class="rbot" id="rbot3"></a>
            </div>
        </div>
    </div>

    <!-- .header>.logo+.menu>ul>li>a.btn#btn$[alt='menu-botton']{菜单$$}*6 -->
    <div class="header">
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li>
                    <a href="" class="btn" id="btn1" alt="menu-botton">菜单01</a>
                    <a href="" class="btn" id="btn2" alt="menu-botton">菜单02</a>
                    <a href="" class="btn" id="btn3" alt="menu-botton">菜单03</a>
                    <a href="" class="btn" id="btn4" alt="menu-botton">菜单04</a>
                    <a href="" class="btn" id="btn5" alt="menu-botton">菜单05</a>
                    <a href="" class="btn" id="btn6" alt="menu-botton">菜单06</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- .top-banner>ul.img>li*4>a>img.bn$[src="images/banner$.jpg"]+^^^^ul.dot>li*4>a -->
    <div class="top-banner">
        <ul class="img">
            <li><a href=""><img src="../images/home-banner1.jpg" alt="" class="bn1"></a></li>
            <li><a href=""><img src="../images/banner2.jpg" alt="" class="bn2"></a></li>
            <li><a href=""><img src="../images/banner3.jpg" alt="" class="bn3"></a></li>
            <li><a href=""><img src="../images/banner4.jpg" alt="" class="bn4"></a></li>
        </ul>
    </div>
    <ul class="dot">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>


    <!-- .breadcrumb>ul>li*3>a{'栏目名称'}+^li>span{'当前栏目'} -->
    <div class="breadcrumb">
        <ul>
            <li><a href="">'栏目名称'</a></li>
            <li><a href="">'栏目名称'</a></li>
            <li><a href="">'栏目名称'</a></li>
            <li><span>'当前栏目'</span></li>
        </ul>
    </div>

    <!-- .lfbar>h3^+.main>h2^+.rgbar>h3 -->
    <div class="lfbar">
        <h3></h3>
    </div>

    <div class="main">
        <h2></h2>
    </div>

    <div class="rgbar">
        <h3></h3>
    </div>

    .footbar>

</body>
</html>