@font-face {
  font-family: 'zhanggui3';
  src:  url('fonts/zhanggui3.eot?m493fr');
  src:  url('fonts/zhanggui3.eot?m493fr#iefix') format('embedded-opentype'),
    url('fonts/zhanggui3.ttf?m493fr') format('truetype'),
    url('fonts/zhanggui3.woff?m493fr') format('woff'),
    url('fonts/zhanggui3.svg?m493fr#zhanggui3') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zhanggui3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-ol-banner-left:before {
  content: "\e915";
}
.ico-ol-banner-right:before {
  content: "\e919";
}
.ico-ol-news-down:before {
  content: "\e91a";
}
.ico-ol-news-up:before {
  content: "\e91b";
}
.ico-dot:before {
  content: "\e918";
}
.ico-after:before {
  content: "\e916";
}
.ico-before2:before {
  content: "\e917";
}
.ico-ol_add:before {
  content: "\e900";
}
.ico-ol_arrow:before {
  content: "\e901";
}
.ico-ol_choose:before {
  content: "\e902";
}
.ico-ol_email:before {
  content: "\e903";
}
.ico-ol_fax:before {
  content: "\e904";
}
.ico-ol_footer_phone:before {
  content: "\e905";
}
.ico-ol_footer_qq:before {
  content: "\e906";
}
.ico-ol_home:before {
  content: "\e907";
}
.ico-ol_information:before {
  content: "\e908";
}
.ico-ol_label_bao:before {
  content: "\e909";
}
.ico-ol_label_ma:before {
  content: "\e90a";
}
.ico-ol_label_phone:before {
  content: "\e90b";
}
.ico-ol_label_problem:before {
  content: "\e90c";
}
.ico-ol_label_top:before {
  content: "\e90d";
}
.ico-ol_location:before {
  content: "\e90e";
}
.ico-ol_ma:before {
  content: "\e90f";
}
.ico-ol_nochoose:before {
  content: "\e910";
}
.ico-ol_phone:before {
  content: "\e911";
}
.ico-ol_qq:before {
  content: "\e912";
}
.ico-ol_tap:before {
  content: "\e913";
}
.ico-ol_time:before {
  content: "\e914";
}
.ico-zg_downward:before {
  content: "\e957";
}
.ico-zg_fenlei_all_0:before {
  content: "\e958";
}
.ico-zg_fenlei_all_1:before {
  content: "\e959";
}
.ico-zg_fenlei_appliances_0:before {
  content: "\e95a";
}
.ico-zg_fenlei_appliances_1:before {
  content: "\e95b";
}
.ico-zg_fenlei_bag_0:before {
  content: "\e95c";
}
.ico-zg_fenlei_bag_1:before {
  content: "\e95d";
}
.ico-zg_fenlei_camera_0:before {
  content: "\e95e";
}
.ico-zg_fenlei_camera_1:before {
  content: "\e95f";
}
.ico-zg_fenlei_dress_0:before {
  content: "\e960";
}
.ico-zg_fenlei_dress_1:before {
  content: "\e961";
}
.ico-zg_fenlei_food_0:before {
  content: "\e962";
}
.ico-zg_fenlei_food_1:before {
  content: "\e963";
}
.ico-zg_fenlei_household_0:before {
  content: "\e964";
}
.ico-zg_fenlei_household_1:before {
  content: "\e965";
}
.ico-zg_fenlei_outdoor_0:before {
  content: "\e966";
}
.ico-zg_fenlei_outdoor_1:before {
  content: "\e967";
}
.ico-zg_fenlei_skin_0:before {
  content: "\e968";
}
.ico-zg_fenlei_skin_1:before {
  content: "\e969";
}
.ico-zg_fenlei_tie_0:before {
  content: "\e96a";
}
.ico-zg_fenlei_tie_1:before {
  content: "\e96b";
}
.ico-zg_lianxi_phone:before {
  content: "\e96c";
}
.ico-zg_lianxi_service:before {
  content: "\e96d";
}
.ico-zg_mouse:before {
  content: "\e96e";
}
.ico-zg_qrcode:before {
  content: "\e96f";
}
.ico-zg_search:before {
  content: "\e970";
}

