@icomoon-font-path: "fonts";

@ico-ol-banner-left: "\e915";
@ico-ol-banner-right: "\e919";
@ico-ol-news-down: "\e91a";
@ico-ol-news-up: "\e91b";
@ico-dot: "\e918";
@ico-after: "\e916";
@ico-before2: "\e917";
@ico-ol_add: "\e900";
@ico-ol_arrow: "\e901";
@ico-ol_choose: "\e902";
@ico-ol_email: "\e903";
@ico-ol_fax: "\e904";
@ico-ol_footer_phone: "\e905";
@ico-ol_footer_qq: "\e906";
@ico-ol_home: "\e907";
@ico-ol_information: "\e908";
@ico-ol_label_bao: "\e909";
@ico-ol_label_ma: "\e90a";
@ico-ol_label_phone: "\e90b";
@ico-ol_label_problem: "\e90c";
@ico-ol_label_top: "\e90d";
@ico-ol_location: "\e90e";
@ico-ol_ma: "\e90f";
@ico-ol_nochoose: "\e910";
@ico-ol_phone: "\e911";
@ico-ol_qq: "\e912";
@ico-ol_tap: "\e913";
@ico-ol_time: "\e914";
@ico-zg_downward: "\e957";
@ico-zg_fenlei_all_0: "\e958";
@ico-zg_fenlei_all_1: "\e959";
@ico-zg_fenlei_appliances_0: "\e95a";
@ico-zg_fenlei_appliances_1: "\e95b";
@ico-zg_fenlei_bag_0: "\e95c";
@ico-zg_fenlei_bag_1: "\e95d";
@ico-zg_fenlei_camera_0: "\e95e";
@ico-zg_fenlei_camera_1: "\e95f";
@ico-zg_fenlei_dress_0: "\e960";
@ico-zg_fenlei_dress_1: "\e961";
@ico-zg_fenlei_food_0: "\e962";
@ico-zg_fenlei_food_1: "\e963";
@ico-zg_fenlei_household_0: "\e964";
@ico-zg_fenlei_household_1: "\e965";
@ico-zg_fenlei_outdoor_0: "\e966";
@ico-zg_fenlei_outdoor_1: "\e967";
@ico-zg_fenlei_skin_0: "\e968";
@ico-zg_fenlei_skin_1: "\e969";
@ico-zg_fenlei_tie_0: "\e96a";
@ico-zg_fenlei_tie_1: "\e96b";
@ico-zg_lianxi_phone: "\e96c";
@ico-zg_lianxi_service: "\e96d";
@ico-zg_mouse: "\e96e";
@ico-zg_qrcode: "\e96f";
@ico-zg_search: "\e970";

